<meta http-equiv="refresh" content="4">

<h1>Tweets by Current Laker Players</h1>

<br>

<% @player_tweets.each do |tweet| %>

  <%= "#{tweet.user.screen_name}: #{tweet.text}" %>
  <br>
  <br>

<% end %>
