<meta http-equiv="refresh" content="40">

<h1>Tweets from Current Laker Players</h1>

<br>
<br>

<style>
.player-menu {
	background: purple;
}
</style>

<% @player_tweets.each do |tweet| %>

  <%= "#{tweet.user.screen_name}: #{tweet.text}" %>
  <br>
  <br>
  <br>

<% end %>

<br>
<br>
