<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
  <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

  <div class="jumbotron" style="top:0;text-align:center;background-image:url('http://orig00.deviantart.net/8f08/f/2013/027/c/6/kobe_bryant_wallpaper_by_angelmaker666-d5sxec8.jpg');background-size:cover;"> 
    <br>
    <h1>Laker Life in Tweets</h1>
    <br>
    <br>
    <br>
    <br>
    <p>Stay updated on what current Laker players and fans are saying</p>
    <br>
  </div>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header navbar-inverse" style="background-color:#4B0082;">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" onmouseover="this.style.background='#663399'" onmouseout="this.style.background='#4B0082'">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse navbar-fixed-top" style="background-color:#4B0082;">
      <ul class="nav navbar-nav">
        <li onmouseover="this.style.background='#663399'" onmouseout="this.style.background='#4B0082'" class="player-menu"><a href="/">Players</a></li>
        <li onmouseover="this.style.background='#663399'" onmouseout="this.style.background='#4B0082'" class="fan-menu"><a href="/fans">Fans</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </nav>

  <div class="container">
    <div class="starter-template">
      <%= yield %>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </div>

</body>
</html>
